<div class="parent">
    <div>
        <div class="userDiv">
            <img src="{{pathUserImage}}" alt="defUserImg">
            <h3>&#64;{{userName}}</h3>
        </div>
        <div class="sidemenu-buttons-div">
            <button class="buttons">
                Your Expenses
            </button>
            <button class="buttons">
                Statistic
            </button>
        </div>
    </div>
    <div class="sidemenu-buttons-div">
        <button class="buttons">
            Settings
        </button>
        <button class="buttons">
            Logout
        </button>
    </div>
</div>