<div class="parent">
  <div class="header">
    <div>
      <h2>Spendify</h2>
    </div>
    <div>
      <p-buttonGroup>
        <p-button icon="pi pi-sign-in" label="Login" [outlined]="true" [routerLink]="['./login']"></p-button>
        <p-button icon="pi pi-user-plus" label="Register" [routerLink]="['./register']"></p-button>
      </p-buttonGroup>
    </div>
    </div>
  <div class="main">
    <div class="main-text">
      <div>
        <h1 style="margin-bottom: 0;">Get your spending money</h1>
        <h1 style="margin-top: 0;">under control and manage</h1>
      </div>
      <div>
        <p style="font-size: 20px; margin-bottom: 0;">Spendify is the most intuitive,</p>
        <p style="font-size: 20px; margin-top: 0;" >advance and smart way to track your spending on a daily basis</p>
      </div>
      <div>
        <p-button icon="pi pi-arrow-right" label="Get started" [routerLink]="['./login']"></p-button>
      </div>
    </div>
    <div class="picture">

    </div>
    <div>

    </div>
  </div>
  <div class="footer">
    (C) Andrii Pasternak ltd. corporation
  </div>
</div>
