<div class="parent">
  <p-toast></p-toast>
  <div>
    <h1>Spendify</h1>
  </div>
  <div class="change-pass">
    <div class="header">
      <h2>Change Password</h2>
    </div>
    <div class="inputs">
        <span class="p-float-label">
            <input pInputText id="newPassword" type="password" [(ngModel)]="newPass"/>
            <label for="newPassword">New password</label>
          </span>
      <span class="p-float-label">
            <input pInputText id="confirmPassword" type="password" [(ngModel)]="confirmPass"/>
            <label for="confirmPassword">Confirm password</label>
          </span>
    </div>
    <div class="save-button">
      <p-button label="Submit" icon="pi pi-file-edit" (onClick)="changePassword()"></p-button>
    </div>
  </div>
</div>
