<div class="parent">
    <div class="container">
        <div class="logo">
            <span>Spendify</span>
        </div>
        <div class="userDiv">
            <img src="{{pathUserImage}}" alt="defUserImg">
            <h3>&#64;{{userName}}</h3>
        </div>
        <div class="sidemenu-buttons-div">
            <button class="buttons">
                <a href="/" class="button-link">Your Expenses</a>
            </button>
            <button class="buttons">
                <a href="/dashboard" class="button-link">Dashboard</a>
            </button>
            <button class="buttons">
                <a href="/statistic" class="button-link">Statistic</a>
            </button>
        </div>
    </div>
    <div class="sidemenu-buttons-div">
        <button class="buttons">
            Settings
        </button>
        <button class="buttons">
            Logout
        </button>
    </div>
</div>