.parent{
    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .selectOptions{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .search-span{
        display: inline-block;
        position: sticky;
    }
    .header-dialog{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .table-container{
        width: auto;
        height: 400px;
        .header-table{
            position: sticky;
        }
    }
  .input-plus-minus{
    height: 2rem;
  }
  .item-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    row-gap: 10px;
  }
  .crud-buttons{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
  }
}
