  <form [formGroup]="locationForm" (ngSubmit)="onSubmit($event)">
    <div class="content">
      <div class="inputs-container">
      <span class="p-float-label">
        <input pInputText formControlName="name" />
        <label>Name</label>
      </span>
        <span class="p-float-label">
        <input pInputText formControlName="latitude" />
        <label>Latitude</label>
      </span>
        <span class="p-float-label">
        <input pInputText formControlName="longitude" />
        <label>Longitude</label>
      </span>
        <span class="p-float-label">
        <input pInputText formControlName="address" />
        <label>Address</label>
      </span>
        <div>
          <label>Save location for you?</label> <br>
          <input type="checkbox" formControlName="save" value="true" class="p-checkbox">
        </div>
        <div class="buttons">
          <p-button label="Submit" [outlined]="true" type="submit" [disabled]="!locationForm.valid"></p-button>
        </div>
      </div>
      <div>
        <google-map
          height="300px"
          width="600px"
          [center]="center"
          [zoom]="zoom">
          <map-marker
            *ngFor="let markerPosition of markerPositions"
            [position]="markerPosition">
          </map-marker>
        </google-map>
      </div>
    </div>
  </form>
