<div class="parent">
    <div class="label-container">
        <p>Monthly overview</p>
    </div>
    <div class="expense">
        <div class="expense-container">
            <span>$123.3</span>
            <span>This month</span>
        </div>
        <div class="expense-container">
            <span>$213.2</span>
            <span>Previous month</span>
        </div>
        <div class="expense-container">
            <span>$9.33</span>
            <span>Average daily</span>
        </div>
    </div>
</div>
