@import '../../shared/styles/variables.scss';

.parent{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100% ;
  .maincontent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .register{
      display:flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      row-gap: 10px;
      border-radius: 15px;

      width: 600px;
      height: 400px;
      padding: 10px;
      background-color: $sectionsColor;
      .title{
        font-size: 30px;
      }
      .inputs{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        row-gap: 10px;
        input{
          width:100%;
        }
        .first-last-names{
          display: flex;
          justify-content: space-around;
          column-gap: 10px;
        }
      }
      .button-link{
        color: inherit;
      }
      .button{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width:50%;
        column-gap: 20px;
      }
    }
  }
}
