<div class="parent">
    <div class="container">
        <div class="logo">
            <span>Spendify</span>
        </div>
        <div class="userDiv">
            <img src="{{pathUserImage}}" alt="defUserImg">
            <h3>&#64;{{userName}}</h3>
        </div>
        <div class="side-bar-buttons">
            <div class="buttons">
                <a [routerLink]="['/']" class="button-link">Your Expenses</a>
            </div>
            <div class="buttons">
                <a [routerLink]="['/dashboard']" class="button-link">Dashboard</a>
            </div>
            <div class="buttons">
                <a [routerLink]="['/statistic']" class="button-link">Statistic</a>
            </div>
        </div>
    </div>
    <div class="side-bar-buttons">
      <p-toast></p-toast>
        <div class="buttons">
          <a [routerLink]="['/settings']" class="button-link">Settings</a>
        </div>
        <div class="buttons">
          <div *ngIf="condition; else elseBlock">
            <a [routerLink]="['/login']" class="button-link">Login</a>
          </div>
          <ng-template #elseBlock>
            <p-confirmDialog></p-confirmDialog>
            <button class="button-link" type="button" (click)="logout()">Logout</button>
          </ng-template>
        </div>
    </div>
</div>
