<div class="parent">
  <p-tabView>
    <p-tabPanel header="Public categories">
      <ng-template pTemplate="content">
      <div class="table">
        <p-dropdown [options]="publicCategories" [(ngModel)]="selectedPublicCategory" placeholder="Select a category" [editable]="true" optionLabel="name"></p-dropdown>
        <button pButton type="button" label="Choose" (click)="chooseCategory(selectedPublicCategory)"></button>
      </div>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Your categories">
      <ng-template pTemplate="content">
      <div class="table">
        <div class="choose">
          <p-dropdown [options]="userCategories" [(ngModel)]="selectedUserCategory" placeholder="Select a category" [editable]="true" optionLabel="name"></p-dropdown>
          <button pButton type="button" label="Choose" (click)="chooseCategory(selectedUserCategory)"></button>
        </div>
         <div class="edit-delete-category">
          <p-button label="Edit" icon="pi pi-pencil" (onClick)="changeNameInput(selectedUserCategory)"></p-button>
          <p-button label="Delete" icon="pi pi-trash" (onClick)="deleteCategory(selectedUserCategory)"></p-button>
        </div>
        <div *ngIf="showInput" class="update">
          <input type="text" pInputText [(ngModel)]="newCategoryName">
          <p-button label="Save" icon="pi pi-save" (onClick)="updateCategory()"></p-button>
        </div>
      </div>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Create category">
      <ng-template pTemplate="content">
        <div class="create-form">
          <form [formGroup]="categoryForm" (ngSubmit)="onSubmit($event)">
            <span class="p-float-label">
              <input pInputText formControlName="name" />
              <label>Name</label>
            </span>
            <button pButton type="submit" label="Submit"></button>
          </form>
        </div>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
