<div class="parent">
    <div class="labels-container">
        <p class="addexpense-name">Add Expense</p>
        <p-button icon="pi pi-plus" label="Add items to expense"  [text]="true" [plain]="true" (click)="showAddItemsToExpenseDialog()"></p-button>
    </div>
    <div class="additems">
      <p-toast></p-toast>
        <div class="dropdownAndInput-container">
          <div>
            <p-button icon="pi pi-plus" [text]="true" [plain]="true" (click)="showAddCategoryDialog()"></p-button>
            <input type="text" pInputText [(ngModel)]="categoryOutput" class="output" [disabled]="true" placeholder="Add Category" [ngModelOptions]="{standalone: true}">
          </div>
          <div>
            <p-button icon="pi pi-plus" [text]="true" [plain]="true" (click)="showAddLocationDialog()"></p-button>
            <input type="text" pInputText [(ngModel)]="nameOfLocation" class="output" [disabled]="true" placeholder="Add Location" [ngModelOptions]="{standalone: true}">
          </div>
          <div>
            <i class="pi pi-money-bill icon"></i>
            <p-inputNumber [(ngModel)]="totalPrice" [disabled]="true" mode="currency" currency="USD" locale="en-US" class="price-input" placeholder="Total price  " [ngModelOptions]="{standalone: true}"> </p-inputNumber>
          </div>
        </div>
        <div class="items">
            <div class="item" *ngFor="let item of items">
                <span>{{item.name}}</span>
                <span>{{item.quantity}}</span>
            </div>
        </div>
    </div>
    <div class="buttons-container">
      <button pButton type="submit" [disabled]="addButtonLock" (click)="onSubmit()">Add</button>
      <button pButton type="reset">Cancel</button>
    </div>
</div>
