:root {
    --backgroundColor: #42494D;
    --sectionsColor: #2F3437;
    --textColor: #ffffff;
    --fontFamily: 'Roboto', sans-serif;
  }
  
  $backgroundColor: var(--backgroundColor);
  $sectionsColor: var(--sectionsColor);
  $textColor: var(--textColor);
  $fontFamily: var(--fontFamily);
  
  html, body {
    background-color: $backgroundColor;
    color: $textColor;
    font-family: $fontFamily;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  